.container section {
  width: 100%;
  display: flex;
}

.tableContainer {
  width: 85%;
  padding: 30px;
}

.tableContainer nav {
  display: flex;
  justify-content: end;
}

.table {
  width: 100%;
}

.header {
  display: flex;
  width: 100%;
  font-weight: 600;
  border-bottom: 0.5px solid var(--linen);
}

/* Generic cell */
.header > div, .row > div {
  padding: 10px 5px;
  display: flex;
}

.header > div:nth-child(1), 
.row > div:nth-child(1) {
  width: 10%;
}

.header > div:nth-child(2),
.row > div:nth-child(2) {
  width: 35%;
}

.header > div:nth-child(3),
.row > div:nth-child(3) {
  width: 15%;
  justify-content: center;
}

.header > div:nth-child(4),
.row > div:nth-child(4) {
  width: 20%;
}

.header > div:nth-child(5),
.row > div:nth-child(5) {
  width: 20%;
}

.row {
  display: flex;
}

.row:hover {
  background-color: var(--storm);
}

.row > div {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.row p {
  white-space: nowrap;
}
