.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}

.container button:first-child {
  margin-right: 15px;
}

.container button:last-child {
  margin-left: 15px;
}

.container img {
  width: max(60%, 600px);
  margin-bottom: -200px;
  margin-top: -15%;
}

