.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container button:first-child {
  margin-right: 15px;
}

.container button:last-child {
  margin-left: 15px;
}
