.container {
  overflow: hidden;
}

.container section {
  width: 100%;
  flex-grow: 1;
  display: flex;
  padding: 0 30px;
  height: calc(100% - 83px);
}

.container nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.table {
  width: 85%;
  margin-bottom: 20px;
  height: calc(100% - 60px);
}

.dataContainer {
  height: 100%;
  display: flex;
  padding: 0 30px;
  overflow-x: overlay;
}

.dataContainer > div:nth-child(2) {
  margin-right: 30px;
}