
.container section {
  width: 100%;
  flex-grow: 1;
  display: flex;
  padding: 30px;
  flex-direction: column;
  height: calc(100% - 83px);
}

.container nav {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}

.table {
  display: flex;
  padding: 0 30px;
  overflow-x: overlay;
}

.table > div:nth-child(2) {
  margin-right: 30px;
}