.row > div {
  padding: 10px 5px;
  display: flex;
  align-items: center;
}
.row > div:nth-child(1) {
  width: 10%;
}
.row > div:nth-child(2) {
  width: 35%;
}
.row > div:nth-child(3) {
  width: 15%;
  justify-content: center;
}
.row > div:nth-child(4) {
  width: 18.5%;
}
.row > div:nth-child(5) {
  width: 18.5%;
}
.row > div:nth-child(6) {
  justify-content: start;
  width: 3%;
}

.row {
  display: flex;
}

.row:hover {
  background-color: #2b2b2b;
}
.row > div {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.row p {
  white-space: nowrap;
  font-size: 14px;
}

.row select {
  font-size: 14px;
  width: 90%;
}

.delete:hover {
  cursor: pointer;
  color: var(--leather);
  font-weight: 600;
}