.row > div {
  padding: 10px 5px;
  display: flex;
}
.row > div:nth-child(1) {
  width: 10%;
}
.row > div:nth-child(2) {
  width: 35%;
}
.row > div:nth-child(3) {
  width: 15%;
  justify-content: center;
}
.row > div:nth-child(4) {
  width: 20%;
}
.row > div:nth-child(5) {
  width: 20%;
}

.row {
  display: flex;
}

.row:hover {
  background-color: var(--storm);
}
.row > div {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.row p {
  white-space: nowrap;
}