.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  height: 0.5px;
  background-color: var(--linen);
  z-index: 3;
  animation: divider 1s ease forwards;
}

@keyframes divider {
  from { width: 0%; }
  to { width: calc(100% - 60px); }
}