.container {
  width: max(15%, 210px);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--storm);
  justify-content: space-between;
  list-style: none;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  border-bottom: 0.5px solid var(--linen);
}

.destinations, .auth {
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  align-items: start;
  flex-direction: column;
}

.auth {
  padding-bottom: 15px;
}

.destinations {
  flex-grow: 1;
  border-bottom: 0.5px solid var(--linen);
}

.container p {
  width: 100%;
  display: flex;
}

.unselected {
  border-left: 1.5px solid transparent;
}

.unselected:hover {
  border-left: 1.5px solid var(--linen);
  background-color: var(--secondaryBackground);
}

.selected {
  border-left: 3px solid var(--linen);
  background-color: var(--backgroundColor);
}

.container a,
.container a:visited {
  width: 100%;
  height: 100%;
  font-weight: 600;
  padding: 15px 30px;
  color: var(--linen);
  text-decoration: none;
}

.container img {
  width: 50%;
}
