.container {
  display: flex;
  min-width: 150px;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--linen);
}

.container div {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container input {
  width: 90%;
  text-align: center;
}