.container input {
  margin-left: 16px;
  width: 300px;
}

.container input::file-selector-button {
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  background-color: transparent;
  color: var(--linen);
  border: 2px solid var(--forestGreen);
}

.container input::file-selector-button:hover {
  cursor: pointer;
  border: 2px solid #57d9b8;
  transition: all 0.25s ease-in-out;
}


.container input[type="file"] {
  padding: 0;
  border: none;
}

.container input[type="file"]::after {
  content: '';
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.message {
  margin-top: 0;
  height: 20px;
  color: #dd1b16;
  font-size: 18px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.button {
  margin-left: 16px;
}

.form > label:last-of-type {
  margin-bottom: 16px;
}
