*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --storm: #565c5e;
  --forestGreen: #455954;
  --limeGreen: #57d9b8;
  --leather: #b44d22;
  --blue: #b5c2c7;
  --linen: #dfdbd8;
  --white: rgba(255, 255, 255, 0.87);
  --backgroundColor: #242424;
  --secondaryBackground: #454545;
  color: var(--white);
  background-color: var(--backgroundColor);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  display: flex;
  height: 100%;
}

h2, h3, h4, h5, h6, p {
  margin: 0;
}

a,
a:visited {
  color: #00d8ff
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

button {
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  color: var(--linen);
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid var(--forestGreen);
}

button:hover {
  cursor: pointer;
  border: 2px solid #57d9b8;
  transition: all 0.25s ease-in-out;
}

input, select {
  margin: 0;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--linen);
  background-color: transparent;
  border: 2px solid var(--forestGreen);
}

select option {
  background-color: #242424;
  color: var(--linen);
}

input {
  padding: 10px
}

input:focus, select:hover, select:focus {
  outline: none;
  border: 2px solid #57d9b8;
  transition: border 0.25s ease-in-out;
}

select:hover {
  cursor: pointer;
}

*::-webkit-scrollbar {
  width: 8px;
  max-width: 8px;
  display: block;
  max-height: 8px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: var(--backgroundColor);
}

*::-webkit-scrollbar-track-piece {
  background-color: var(--backgroundColor);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondaryBackground);
  border-radius: 24px;
}