*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --storm: #565c5e;
  --forestGreen: #455954;
  --leather: #9d7463;
  --blue: #b5c2c7;
  --linen: #dfdbd8;
  --white: rgba(255, 255, 255, 0.87);
  --backgroundColor: #242424;
  --secondaryBackground: #454545;
  color: var(--white);
  background-color: var(--backgroundColor);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  display: flex;
  height: 100%;
}

h2, h3, h4, h5, h6, p {
  margin: 0;
}

a,
a:visited {
  color: #00d8ff
}

main {
  width: 85%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
